.btn {
  background-color: var(--clr-neutral-700);
  color: #fff;
  font-size: var(--font-size-8);
  border: none;
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  align-items: flex-start;
  appearance: auto;
  background-color: rgb(8, 8, 8);
  border: 2px solid var(--clr-neutral-800);
  border-radius: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Catamaran, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: var(--font-size-2);
  font-weight: var(--fw-bold);
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  height: 50px;
  letter-spacing: 1.8px;
  line-height: 30px;
  margin: 0px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding: 7px 46px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: uppercase;
  transition-behavior: normal, normal, normal;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  vertical-align: middle;
  width: 188.094px;
  word-spacing: 0px;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
}
