:root {
  --max-width: 1100px;

  --clr-primary-100: hsl(15, 97%, 70%);
  --clr-primary-200: hsl(15, 98%, 60%);
  --clr-primary-300: hsl(15, 100%, 49%);
  --clr-primary-400: hsl(15, 100%, 40%);
  --clr-primary-500: hsl(15, 100%, 30%);
  --clr-primary-600: hsl(15, 100%, 20%);

  --clr-neutral-300: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(270, 9%, 17%);
  --clr-neutral-500: hsl(0, 0%, 43%);
  --clr-neutral-600: hsl(0, 0%, 98%);
  --clr-neutral-700: hsl(0, 0%, 0%);

  /* --clr-text: hsl(0, 0%, 43%);
  --clr-surface: hsl(0, 0%, 100%);

  --ff-base: "Fira Sans", sans-serif;
  --ff-secondary: "Sora", sans-serif; */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800 --base-spacing: 1rem;
  --spacing-1: 1rem;
  --spacing-2: 1.25rem;
  --spacing-3: 1.5625rem;
  --spacing-4: 1.953125rem;
  --spacing-5: 2.44140625rem;
  --spacing-6: 3.0517578125rem;

  --font-size-1: var(--spacing-1);
  --font-size-2: var(--spacing-2);
  --font-size-3: var(--spacing-3);
  --font-size-4: var(--spacing-4);
  --font-size-5: var(--spacing-5);
}

/* Media Queries */
@media (min-width: var(--breakpoint-xs)) {
  :root {
    --base-spacing: 1.1rem; /* Adjusted base unit for small screens */
    --spacing-1: 1.1rem;
    --spacing-2: 1.375rem;
    --spacing-3: 1.71875rem;
    --spacing-4: 2.1484375rem;
    --spacing-5: 2.685546875rem;
    --spacing-6: 3.35693359375rem;
  }
}

@media (min-width: 768px) {
  :root {
    --base-spacing: 1.2rem; /* Adjusted base unit for medium screens */
    --spacing-1: 1.2rem;
    --spacing-2: 1.5rem;
    --spacing-3: 1.875rem;
    --spacing-4: 2.34375rem;
    --spacing-5: 2.9296875rem;
    --spacing-6: 3.662109375rem;
  }
}

@media (min-width: 992px) {
  :root {
    --base-spacing: 1.3rem; /* Adjusted base unit for large screens */
    --spacing-1: 1.3rem;
    --spacing-2: 1.625rem;
    --spacing-3: 2.03125rem;
    --spacing-4: 2.5390625rem;
    --spacing-5: 3.173828125rem;
    --spacing-6: 3.96728515625rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --base-spacing: 1.4rem; /* Adjusted base unit for extra-large screens */
    --spacing-1: 1.4rem;
    --spacing-2: 1.75rem;
    --spacing-3: 2.1875rem;
    --spacing-4: 2.734375rem;
    --spacing-5: 3.41796875rem;
    --spacing-6: 4.2724609375rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
